<nav class ="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-band">Programacion Computacional IV </h1>
</nav>
<div style="margin">
    <a href="/login" class="btn btn-info">Login</a>
    <a href="/register" class="btn btn-info">Registrer</a>
</div>
